# =======================================================
# requirements.txt
# Core dependencies for NBA Utilities (for development and building)
# =======================================================

# GUI Framework
PySide6

# Configuration / Path Management
appdirs

# Google Drive API Interaction
google-auth
google-auth-oauthlib
google-api-python-client

# Data Processing
pandas

# PDF Manipulation
pikepdf

# Application Packaging
pyinstaller